@import url('./utilities/_variables.scss');
@import url('./utilities/_classes.scss');
@import url('./utilities/_animations.scss');

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary-400);
}
