@use './utilities/_variables.scss';

.app {
  background-image: url('/src/assets/app-bg.jpg');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--ff-primary-400);
}
