.screen--loading {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-image: url('/src/assets/app-bg.jpg');
  background-size: cover;
  border-image: fill 1 linear-gradient(var(--bg-600), var(--bg-400));
  display: flex;
  flex-direction: column;

  &__loading-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: var(--sp-200);
    margin: var(--sp-200);
  }

  &__start-button {
    position: absolute;
    background: var(--bg-500);
    backdrop-filter: blur(5px);
    color: var(--clr-neutral-100);
    opacity: 0.8;
    border: 0;
    padding: var(--sp-300) var(--sp-500);
    margin-top: var(--sp-300);
    font-family: var(--ff-primary-500);
    text-transform: uppercase;

    &:hover {
      opacity: 1;
    }
  }

  &__text {
    margin: auto;
    transition: opacity 500ms ease-out;

    &__heading {
      font-family: var(--ff-primary-600);
      font-size: var(--fs-400);
    }

    &__info {
      max-width: 500px;
      color: var(--clr-neutral-300);

      a {
        white-space: nowrap;
        color: inherit;
        text-decoration: underline;
      }
    }
  }
}
