.loading-screen--app {
  position: fixed;
  inset: 0;
  background: var(--clr-neutral-800);
  display: flex;

  &__container {
    margin: auto;
    display: flex;
    gap: 2px;
    align-items: end;
  }

  &__loading-icon {
    width: var(--icn-size-400);
  }
}
