@import url('/src/assets/barlow/stylesheet.css');
@import url('/src/assets/barlow/italic/stylesheet.css');

$ff-barlow-light: 'barlowlight', helvetica, sans-serif;
$ff-barlow-light_itl: 'barlowlight_italic', helvetica, sans-serif;
$ff-barlow-regular: 'barlowregular', helvetica, sans-serif;
$ff-barlow-regular_itl: 'barlowitalic', helvetica, sans-serif;
$ff-barlow-medium: 'barlowmedium', helvetica, sans-serif;
$ff-barlow-medium_itl: 'barlowmedium_italic', helvetica, sans-serif;
$ff-barlow-semibold: 'barlowsemibold', helvetica, sans-serif;
$ff-barlow-semibold_itl: 'barlowsemibold_italic', helvetica, sans-serif;
$ff-barlow-bold: 'barlowbold', helvetica, sans-serif;
$ff-barlow-bold_itl: 'barlowbold_italic', helvetica, sans-serif;
$ff-barlow-black: 'barlowblack', helvetica, sans-serif;
$ff-barlow-black_itl: 'barlowblack_italic', helvetica, sans-serif;
